@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif+Display&display=swap');
body{
	margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ffffff;
    background-color: black;
}

nav h1 a{
    color: rgb(255, 168, 46);
    font-size: 30px;
    text-decoration: none;
}



nav .menu{
    margin-top: 3px;
    margin-left: 300px;
}

nav .menu a{
    color: rgb(255, 255, 255);
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 5px;

}

nav .menu a:hover {
    border-color: rgb(255, 167, 45);
}

header{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
   
}

header img{
    width: 200px;
}

body{
	height: 100vh;
	width: 100%;
    background-image: url(../img/accueil.jpeg);
	background-attachment: fixed;
    background-position: center;
	background-size: cover; 
}

.container{
	position: relative;
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px 100px;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.blanc {
	
color : white;
color : white;
font-size : 25px;
text-shadow: 5px 5px 10px black;
padding-top : 20px;
}


.left{
	
	background: url("../img/duov.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 0rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.bouton{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: orange;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.bouton:hover{
    background-color: rgb(254, 182, 57) ;
}

.field:focus{
    border: 2px solid rgba(61, 61, 61, 0.47);
    background-color: #fff;
}
.content {
    color: rgb(255, 167, 45);
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 45%;

}

.content i{
    justify-content: space-between;
    margin-right: 15px;
    font-size: 50px;
}


@media screen and (max-width:990px){
    nav .menu{
        margin-left: 0px;
        margin-bottom: 20px;
        display: block;
    }

    nav h1 {
        width: max-content;
    }
}