@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif+Display&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-image: url(../img/accueil.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ffffff;
    background-color: black;
}

nav h1 a{
    color: rgb(255, 168, 46);
    font-size: 30px;
    text-decoration: none;
}

.blanc {
	
color : white;
font-size : 25px;
text-shadow: 5px 5px 10px black;
padding-left : 100px;
padding-top : 20px;
}



nav .menu{
    margin-top: 10px;
    margin-left: 200px;
}

nav .menu a{
    color: rgb(255, 255, 255);
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 5px;

}

nav .menu a:hover {
    border-color: rgb(255, 167, 45);
}

header{
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url(../img/trac2.jpeg);
	background-attachment: fixed;
    background-position: center;
	background-size: cover; 
    align-items: center;
    padding: 40px;
   
}

header img{
    width: 200px;
}

header h1{

    font-size: 100px;

}

header h3{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

header .boutons button{
    justify-content: space-between;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(255, 119, 45);
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

header .boutons button:hover{
    background-color: rgb(247, 156, 59);
}

.presentation{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.presentation .qui{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.presentation .qui .left img{
    max-width: 200px;
    height: auto;
    flex: 0 0 25%;
    margin-right: 10px;
}

.presentation .qui .right{
    flex: 0 0 70%;
    border: 3px solid white;
    color: white;
    padding: 15px;
    background-color:rgb(36, 35, 35);

}

.presentation .pourqui{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.presentation .pourqui .left img{
    max-width: 200px;
    height: auto;
    flex: 0 0 25%;
    margin-right: 10px;
}

.presentation .pourqui .right{
    flex: 0 0 70%;
    border: 3px solid white;
    color: white;
    padding: 15px;
    background-color: rgb(36, 35, 35);
}


footer{
    margin-top: 40px;
    border-top: 5px solid #ffffff;
    background-color: black;
    padding: 30px 100px;
    color: white;
}

footer .content {
    color: rgb(255, 167, 45);
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 45%;

}

footer .content i{
    justify-content: space-between;
    margin-right: 15px;
    font-size: 50px;
}


footer h2{
    border-bottom: 1px solid white;
    width: 35%;
    padding-bottom: 5px;
}

footer .content i:hover{
    color:rgb(247, 156, 59) ;
}

a{
    text-decoration: none;
}


@media screen and (max-width:990px){
    nav .menu{
        margin-left: 0px;
        margin-bottom: 20px;
        display: block;
    }

    nav h1 {
        width: max-content;
    }
}